[Unit]
Description=Check SAS PRO GitHub repository for updates

[Timer]
OnBootSec=30s
OnUnitActiveSec=2min
Persistent=true
RandomizedDelaySec=10s
Unit=saspro-sync.service

[Install]
WantedBy=timers.target
